In [27]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import math

In [28]:
st_x = -2.2807386
st_y = 53.4034207
point = Point(st_x, st_y) 
po = gpd.GeoSeries(point)
speed = []
direction = []

In [29]:
for i in range(250):
        if i <10:
            url = 'DV_CSC8626_Data_Wrangled/Datafile_00' + str(i) +'.csv'
        elif i<100:
            url = 'DV_CSC8626_Data_Wrangled/Datafile_0' + str(i) +'.csv'
        else:
            url = 'DV_CSC8626_Data_Wrangled/Datafile_' + str(i) +'.csv'
        ex_data = pd.read_csv(url)
        ex_geodata = gpd.GeoDataFrame(ex_data, geometry=gpd.points_from_xy(ex_data.x, ex_data.y))
        dis = po.geometry.apply(lambda g: ex_geodata.distance(g))
        lis = []
        for i in range(len(ex_data)):
            lis.append(dis.values[0][i])
        ex_geodata["speed"] = lis
        sp = list(ex_geodata.speed)
        speed.append(max(sp))
        x = list(ex_geodata.x)
        y = list(ex_geodata.y)
        cen_x = (min(x) + max(x))/2
        cen_y = (min(y) + max(y))/2
        tan = math.atan2((cen_y - st_y),(cen_x - st_x))
        angle = float(tan * 180 / math.pi)
        direction.append(angle)

In [35]:
final = pd.DataFrame(speed)
final["direction"] = direction
final.columns = ['speed','direction']

In [62]:
# Add column of sheet ID

final.insert(0, 'ID', range(len(final)))

In [63]:
final

      ID  datafile     speed  direction  dataset speed_cat direction_cat
0      0         0  0.080982  58.059281        0       low    North_East
1      1         1  0.180834  51.464815        0    medium    North_East
2      2         2  0.140500  63.441109        0       low         North
3      3         3  0.135711  75.367689        0       low         North
4      4         4  0.069915  65.850917        0       low         North
..   ...       ...       ...        ...      ...       ...           ...
245  245       245  0.275634  45.485927        0      high          East
246  246       246  0.135995  66.160729        0       low         North
247  247       247  0.107414  33.833179        0       low          East
248  248       248  0.221098  65.847717        0    medium         North
249  249       249  0.276480  44.432053        0      high          East

[250 rows x 7 columns]

In [56]:
final.describe()

            speed   direction  dataset
count  250.000000  250.000000    250.0
mean     0.186079   55.869228      0.0
std      0.067926   12.697011      0.0
min      0.068552   31.185612      0.0
25%      0.128117   46.025900      0.0
50%      0.193779   54.550745      0.0
75%      0.248509   63.637425      0.0
max      0.324835   91.741786      0.0

In [41]:
# Classification 

final["speed_cat"] = pd.qcut(final['speed'], 3, labels=["low", "medium","high"])
final["direction_cat"] = pd.qcut(final['direction'], 3, labels=["East","North_East","North"])

In [42]:
# Create final cateories

# cat1 = low s

cat1 = final[(final.speed_cat == "high") & (final.direction_cat =="North")]
cat2 = final[(final.speed_cat == "high") & (final.direction_cat =="North_East")]
cat3 = final[(final.speed_cat == "high") & (final.direction_cat =="East")]

cat4 = final[(final.speed_cat == "medium") & (final.direction_cat =="North")]
cat5 = final[(final.speed_cat == "medium") & (final.direction_cat =="North_East")]
cat6 = final[(final.speed_cat == "medium") & (final.direction_cat =="East")]

cat7 = final[(final.speed_cat == "high") & (final.direction_cat =="North")]
cat8 = final[(final.speed_cat == "high") & (final.direction_cat =="North_East")]
cat9 = final[(final.speed_cat == "high") & (final.direction_cat =="East")]

In [69]:
# get list

indexcat1 = cat1.index
indexcat2 = cat2.index
indexcat3 = cat3.index
indexcat4 = cat4.index
indexcat5 = cat5.index
indexcat6 = cat6.index
indexcat7 = cat7.index
indexcat8 = cat8.index
indexcat9 = cat9.index

In [ ]:
# Read in the data

# the path to your csv file directory
mycsvdir = 'DV_CSC8626_Data_Wrangled'

# get all the csv files in that directory (assuming they have the extension .csv)
csvfiles = glob.glob(os.path.join(mycsvdir, '*.csv'))

# loop through the files and read them in with pandas
dataframes = []  # a list to hold all the individual pandas DataFrames
for csvfile in csvfiles:
    df = pd.read_csv(csvfile)
    dataframes.append(df)

In [95]:
def cell_coordinate(m,n):
    
    #cell_coord = {}
    cell_DataFrame = pd.DataFrame()
    for i in range(m,n):
        if i <10:
            url = './DV_CSC8626_Data_Wrangled/Datafile_00' + str(i) +'.csv'
        elif i<100:
            url = './DV_CSC8626_Data_Wrangled/Datafile_0' + str(i) +'.csv'
        else:
            url = './DV_CSC8626_Data_Wrangled/Datafile_' + str(i) +'.csv'
        
        data = pd.read_csv(url)
        cell_DataFrame = cell_DataFrame.append(data)
        

        
        
        #for j in range(len(data)):
            
            #cell_dict[some_key] = my_dict.get(some_key, 0)
            
           # cell_dic[data.iloc[j].cell_id] = cell_dic.get(data.iloc[j].cell_id, 0)
            
            #cell_dic[data.iloc[j].cell_id] = cell_dic[data.iloc[j].cell_id] + data.iloc[j].u
            
    return cell_DataFrame.drop_duplicates(subset=['cell_id'])

In [84]:
# Load in entire df

alldata = pd.read_csv("alldata.csv")

In [97]:
def finaldf(cat):
        cell_dict = {}
        for i in (cat):
            if i <10:
                url = './DV_CSC8626_Data_Wrangled/Datafile_00' + str(i) +'.csv'
            elif i<100:
                url = './DV_CSC8626_Data_Wrangled/Datafile_0' + str(i) +'.csv'
            else:
                url = './DV_CSC8626_Data_Wrangled/Datafile_' + str(i) +'.csv'


            data = pd.read_csv(url)
            for j in range(len(data)):    


                    value = data.iloc[j].u
                    if data.iloc[j].cell_id in cell_dict:
                        cell_dict[data.iloc[j].cell_id].append(value)
                    else:
                        cell_dict[data.iloc[j].cell_id] = []
                        cell_dict[data.iloc[j].cell_id].append(value)
                        
                        cell_dict_stst = {}

        for i in cell_dict:

            v = cell_dict[i]
            sum_value = sum(v)
            mean_value = sum_value / 250
            variance = np.var(v)*len(v)/250
            sdv = math.sqrt(variance)
            IoD = variance / mean_value
            Cov = sdv / mean_value

            cell_dict_stst[i] = []
            cell_dict_stst[i].append(sum_value)
            cell_dict_stst[i].append(mean_value)
            cell_dict_stst[i].append(variance)
            cell_dict_stst[i].append(sdv)
            cell_dict_stst[i].append(IoD)
            cell_dict_stst[i].append(Cov)
        
        cell_dict_stst_df = pd.DataFrame.from_dict(cell_dict_stst, orient='index')
        cell_dict_stst_df = cell_dict_stst_df.rename(columns={0: "sum", 1: "mean",2:"variance",3:"sdv",4:"IoD",5:"Cov"})
        cell_dict_stst_df['cell_id'] = cell_dict_stst_df.index
        cell_dict_stst_df = pd.merge(cell_dict_stst_df, alldata, how="inner", on="cell_id")
        
        #cell_coord = {}
        cell_DataFrame = pd.DataFrame()
        

        cell_DataFrame = cell_DataFrame.append(data)




          

        return cell_DataFrame.drop_duplicates(subset=['cell_id'])
        return cell_dict_stst_df

In [98]:
finaldf(indexcat1)

,x,y,cell_id,population,infected_DM_0,infected_DM_1,infected_DM_2,infected_DM_3,u,var,sd,IoD,CoV
0,-2.265540,53.420453,6.504529e+18,22,0,0,1,0,0.25,0.250000,0.500000,1.000000,2.000000
1,-2.265596,53.429442,8.685601e+18,38,0,0,1,0,0.25,0.250000,0.500000,1.000000,2.000000
2,-2.265664,53.440228,-6.954263e+18,58,3,0,1,1,1.25,1.583333,1.258306,1.266667,1.006645
3,-2.265692,53.444722,-7.903445e+18,59,0,3,2,0,1.25,2.250000,1.500000,1.800000,1.200000
4,-2.265782,53.459104,8.320480e+18,166,1,0,3,2,1.50,1.666667,1.290994,1.111111,0.860663
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2819,-2.186549,53.593181,-2.567472e+18,63,0,0,1,0,0.25,0.250000,0.500000,1.000000,2.000000
2820,-2.184858,53.551837,7.813111e+18,139,0,0,1,0,0.25,0.250000,0.500000,1.000000,2.000000
2821,-2.183290,53.538357,-5.834636e+18,90,0,0,1,0,0.25,0.250000,0.500000,1.000000,2.000000
2822,-2.175951,53.587804,-6.519560e+18,87,1,0,0,0,0.25,0.250000,0.500000,1.000000,2.000000
2823,-2.165236,53.551866,9.081983e+18,48,0,0,1,0,0.25,0.250000,0.500000,1.000000,2.000000

In [89]:
cell_dict_stst_df

                 sum   mean  variance       sdv       IoD       Cov
 8.685601e+18  21.25  0.085  0.054359  0.233151  0.639522  2.742953
-6.954263e+18  40.00  0.160  0.181944  0.426549  1.137153  2.665934
-7.903445e+18  30.00  0.120  0.072735  0.269695  0.606127  2.247457
 8.320480e+18  70.50  0.282  0.344029  0.586540  1.219962  2.079930
 3.409798e+18  33.00  0.132  0.088765  0.297934  0.672460  2.257076
...              ...    ...       ...       ...       ...       ...
 2.125164e+18   0.25  0.001  0.000000  0.000000  0.000000  0.000000
-4.240568e+18   0.25  0.001  0.000000  0.000000  0.000000  0.000000
-7.639474e+18   0.25  0.001  0.000000  0.000000  0.000000  0.000000
 1.572663e+17   0.25  0.001  0.000000  0.000000  0.000000  0.000000
 9.081983e+18   0.25  0.001  0.000000  0.000000  0.000000  0.000000

[8775 rows x 6 columns]

In [99]:
# Iterate over

cell_dict = {}
for i in (indexcat1):
        if i <10:
            url = './DV_CSC8626_Data_Wrangled/Datafile_00' + str(i) +'.csv'
        elif i<100:
            url = './DV_CSC8626_Data_Wrangled/Datafile_0' + str(i) +'.csv'
        else:
            url = './DV_CSC8626_Data_Wrangled/Datafile_' + str(i) +'.csv'
            
        
        data = pd.read_csv(url)
        for j in range(len(data)):    
            
 
                value = data.iloc[j].u
                if data.iloc[j].cell_id in cell_dict:
                    cell_dict[data.iloc[j].cell_id].append(value)
                else:
                    cell_dict[data.iloc[j].cell_id] = []
                    cell_dict[data.iloc[j].cell_id].append(value)

In [100]:
import numpy as np

cell_dict_stst = {}

for i in cell_dict:
    
    v = cell_dict[i]
    sum_value = sum(v)
    mean_value = sum_value / 250
    variance = np.var(v)*len(v)/250
    sdv = math.sqrt(variance)
    IoD = variance / mean_value
    Cov = sdv / mean_value
    
    cell_dict_stst[i] = []
    cell_dict_stst[i].append(sum_value)
    cell_dict_stst[i].append(mean_value)
    cell_dict_stst[i].append(variance)
    cell_dict_stst[i].append(sdv)
    cell_dict_stst[i].append(IoD)
    cell_dict_stst[i].append(Cov)

In [104]:
cell_dict_stst_df = pd.DataFrame.from_dict(cell_dict_stst, orient='index')
cell_dict_stst_df = cell_dict_stst_df.rename(columns={0: "sum", 1: "mean",2:"variance",3:"sdv",4:"IoD",5:"Cov"})
cell_dict_stst_df['cell_id'] = cell_dict_stst_df.index

In [105]:
counts = cell_dict_stst_df["cell_id"].nunique()

In [108]:
counts

8775

In [103]:
len(cell_dict)

8775

In [45]:
# Load in entire df

alldata = pd.read_csv("alldata.csv")

In [59]:
alldata

,dataset,sum,mean,variance,sdv,IoD,Cov,cell_id,x,y,population
0,1,426.50,1.706,1.758772,1.326187,1.030933,0.777366,6.504529e+18,-2.265540,53.420453,22
1,2,405.75,1.623,1.649422,1.284298,1.016279,0.791311,8.685601e+18,-2.265596,53.429442,38
2,3,304.25,1.217,1.254085,1.119860,1.030473,0.920180,-6.954263e+18,-2.265664,53.440228,58
3,4,201.50,0.806,3.178306,1.782780,3.943308,2.211886,6.558309e+18,-2.262437,53.405180,70
4,5,191.00,0.764,0.913515,0.955780,1.195700,1.251021,-7.941757e+17,-2.262481,53.412371,17
...,...,...,...,...,...,...,...,...,...,...,...
19711,19712,0.25,0.001,0.000000,0.000000,0.000000,0.000000,-5.037014e+18,-2.103496,53.610359,21
19712,19713,0.25,0.001,0.000000,0.000000,0.000000,0.000000,-1.743019e+18,-2.116895,53.536643,4
19713,19714,0.25,0.001,0.000000,0.000000,0.000000,0.000000,-7.568557e+18,-2.076160,53.538473,49
19714,19715,0.50,0.002,0.000000,0.000000,0.000000,0.000000,-4.366653e+18,-2.098854,53.564523,14
19715,19716,0.25,0.001,0.000000,0.000000,0.000000,0.000000,8.731149e+18,-2.073211,53.578024,6

In [50]:
# rename

alldata = alldata.rename(columns={"fid":"dataset"})

In [46]:
# Filter dataframes

cat1df = pd.merge(cat1, alldata, on="dataset",how="inner" )

,fid,sum,mean,variance,sdv,IoD,Cov,cell_id,x,y,population
0,1,426.50,1.706,1.758772,1.326187,1.030933,0.777366,6.504529e+18,-2.265540,53.420453,22
1,2,405.75,1.623,1.649422,1.284298,1.016279,0.791311,8.685601e+18,-2.265596,53.429442,38
2,3,304.25,1.217,1.254085,1.119860,1.030473,0.920180,-6.954263e+18,-2.265664,53.440228,58
3,4,201.50,0.806,3.178306,1.782780,3.943308,2.211886,6.558309e+18,-2.262437,53.405180,70
4,5,191.00,0.764,0.913515,0.955780,1.195700,1.251021,-7.941757e+17,-2.262481,53.412371,17
...,...,...,...,...,...,...,...,...,...,...,...
19711,19712,0.25,0.001,0.000000,0.000000,0.000000,0.000000,-5.037014e+18,-2.103496,53.610359,21
19712,19713,0.25,0.001,0.000000,0.000000,0.000000,0.000000,-1.743019e+18,-2.116895,53.536643,4
19713,19714,0.25,0.001,0.000000,0.000000,0.000000,0.000000,-7.568557e+18,-2.076160,53.538473,49
19714,19715,0.50,0.002,0.000000,0.000000,0.000000,0.000000,-4.366653e+18,-2.098854,53.564523,14
19715,19716,0.25,0.001,0.000000,0.000000,0.000000,0.000000,8.731149e+18,-2.073211,53.578024,6

In [16]:
# plot arrows

arrow = final
arrow["x"]

        speed  direction    speed_cat
0    0.080982  58.059281          low
1    0.180834  51.464815   low-medium
2    0.140500  63.441109   low-medium
3    0.135711  75.367689   low-medium
4    0.069915  65.850917          low
..        ...        ...          ...
245  0.275634  45.485927         high
246  0.135995  66.160729   low-medium
247  0.107414  33.833179          low
248  0.221098  65.847717  medium-high
249  0.276480  44.432053         high

[250 rows x 3 columns]